{% load static  %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% trans 'title_request' %}</title>
        <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.css' %}">
    <script src="{% static 'jquery/dist/jquery.js' %}"></script>
    <script src="{% static 'jcookie/jquery.cookie.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.js' %}"></script>
{#    <link rel="stylesheet" href="{% static 'node_modules/normalize.css/normalize.css' %}">#}
    <script src="{% static 'public/js/requisicao_enviada.js' %}"></script>
    <script>
       $(document).ready(function(){
            fila();
            setInterval(function(){
                fila();
            },3000);
        });
    </script>
</head>
<body id="tudo">

<div align="center">
    <div style="width: 60%;">
        <h4>{% trans 'progress_request' %}</h4>
        <table class="table table-bordered">
            <tr>
                    <th>{% trans 'min_gaps_percent' %}</th>
                    <th>{% trans 'max_gaps_percent' %}</th>
                    <th>{% trans 'gaps_type' %}</th>
                    <th>{% trans 'gaps_set' %}</th>
                    <th>{% trans 'email' %}</th>
                    <th>{% trans 'action_request' %}</th>
            </tr>
            <tr>
                <td>{{ porcentagem_um }}</td>
                <td>{{ porcentagem_dois }}</td>
                <td>{{ tipoFalha_name }}</td>
                <td>{{ falha_conjunto_name }}</td>
                <td>{{ email }}</td>
                <td>
                    <button id="btnIniciar" class="btn btn-xs  btn-info"  onclick="compactaTodaPesquisa(this)">{% trans 'start' %}</button>
                    <a href="{% url 'home:home' %}" id="btnVoltar" class="btn btn-xs   btn-info" >{% trans 'comeback' %}</a>
                </td>
            </tr>
        </table>

        <table class="table table-bordered">
            <tr>
                <td>{% trans 'num_request' %}</td>
                <td id="id_task">-</td>
        </tr>
        </table>
    </div>
    <div style="width: 60%;">
        <h4>{% trans 'queue_request' %}</h4>
        <button class="btn btn-xs btn-info" onclick="fila()">{% trans 'update' %}</button>
        <br/>
        <br/>
        <table class="table table-bordered" style="background-color: lightgrey">
            <thead>
            <tr>
                <th>#</th>
                <th>{% trans 'number' %}</th>
                <th>{% trans 'status_request' %}</th>
            </tr>
            </thead>
            <tbody id="fila">

            </tbody>
        </table>
        
    </div>
</div>
</body>
</html>
